@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --surface-background-1: #e1e7e9;
  --surface-background-2: #fafafa;
  --surface-background-3: #fcfcfc;
  --surface-primary-active: #101010;
  --surface-primary-hover: #202020;
  --surface-secondary-active: #f7f7f7;
  --surface-secondary-hover: #969696;
  
  --text-strong: #202020;
  --text-medium: #505050;
  --text-weak: #606060;
  --text-link: #0075c4;
  --text-error: rgb(245, 57, 57);
  --text-on-primary: #fff;
  --text-on-secondary: var(--text-strong)

  --font-size: 16;
  --header-font: 'Source Sans 3';
  --body-font: 'Source Sans 3';
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--background-2);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' var(--font-size);
}

body {
  color: var(--text-medium);
  background: var(--surface-background-1);

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;

  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--text-strong);
  font-family: var(--header-font, 'Source Sans 3');
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

a {
  color: var(--text-link);
}

.body1 {
  font-family: var(--body-font, 'Source Sans 3');
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

.body2 {
  font-family: var(--body-font, 'Source Sans 3');
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.caption {
  font-family: var(--body-font, 'Source Sans 3');
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.errortext {
  color: var(--text-error);
}

.centered {
  text-align: center;
}